// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.highlighted {
  color: red;
}

.tweet {
  position: relative;
  border: 1px solid #eee;
  box-shadow: 0 1px 0 white, inset 0 1px 0 white;
  padding: 10px;
  overflow: hidden;

  .media {
    display: block;
    width: 10%;
    float: left;
  }

  .body {
    float: left;
    padding-left: 10px;
    width: 90%;
  }

  .media > img {
    width: 100%;
    border-radius: 2px;
  }

  .heading {
    position: relative;
  }

  .user {
    color: inherit;
  }

  .time {
    font-size: 0.917em; /* 11px */
    color: #ccc;
    position: absolute;
    right: 0;
    top: 0;
  }

  .content > p {
    word-wrap: break-word;
    margin: 0;
  }

  .content a {
    color: #6e7e8a;
  }
  
  .sentiment {
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
}
