<!DOCTYPE html>
<html>
<head>
  <title>Twitter Service</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main class="wrapper" role="main">
    <!-- commented out because apparently Rails already provides a default view 
    for rendering flash notice -->
    <%# render 'layouts/messages' %>
    <%= yield %>
  </main>
</body>
</html>
